{# jQuery #}
<script src="/external/jquery/jquery.min.js"></script>
{# Bootstrap #}
<script src="/external/bootstrap/js/bootstrap.min.js"></script>
{# FastClick #}
<script src="/external/fastclick/fastclick.js"></script>
{# NProgress #}
<script src="/external/nprogress/nprogress.js"></script>
{# Chart.js #}
<script src="/external/Chart.js/Chart.min.js"></script>
{# gauge.js #}
<script src="/external/gauge.js/gauge.min.js"></script>
{# bootstrap-progressbar #}
<script src="/external/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
{# iCheck #}
<script src="/external/iCheck/icheck.min.js"></script>
{# Skycons #}
<script src="/external/skycons/skycons.js"></script>
{# Flot #}
<script src="/external/Flot/jquery.flot.js"></script>
<script src="/external/Flot/jquery.flot.pie.js"></script>
<script src="/external/Flot/jquery.flot.time.js"></script>
<script src="/external/Flot/jquery.flot.stack.js"></script>
<script src="/external/Flot/jquery.flot.resize.js"></script>
{# Flot plugins #}
<script src="/external/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/external/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/external/flot.curvedlines/curvedLines.js"></script>
{# DateJS #}
<script src="/external/DateJS/date.js"></script>
{# JQVMap #}
{#<script src="/external/jqvmap/jquery.vmap.js"></script>
<script src="/external/jqvmap/maps/jquery.vmap.world.js"></script>#}
{# bootstrap-daterangepicker #}
<script src="/external/moment/moment.min.js"></script>
<script src="/external/bootstrap-daterangepicker/daterangepicker.js"></script>
{# Custom Theme Scripts #}
<script src="/js/custom.min.js"></script>